/* item.module.css */

/* Общие стили для контейнера элемента */


/* Стили заголовка */
.item h1 {
    font-size: 24px; /* Размер шрифта заголовка */
    margin-bottom: 20px; /* Отступ снизу */
    color: #333; /* Цвет текста */
}

/* Стили для изображения */
.item img {
    display: block; /* Убираем пробелы под изображением */
    border-radius: 4px; /* Скругляем углы изображения */
}


.link {
    display: inline-block; 
    margin-top: 20px; 
   
   
    color: #f1576b; /* Цвет текста */
    
    text-decoration: none; /* Убираем подчеркивание */
   
}



