.groupWrapper h2 {
    margin-bottom: 20px;
    text-align: center;
}

.groupWrapper {
    margin-bottom: 40px;
    border-bottom: 1px solid #f1576b;
}

.groupWrapper:last-child {
    border: none;
}

.listGroup {
    display: flex;
    justify-content: space-between;
}

.listGroup h3 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
}

.groupItem {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.25s;
}

.groupItem:hover {
    background-color: #f2f2f2;
}
